@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.navbar {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.navbar .container {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar .container img {
  width: 100px;
}
.navbar .container .navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.4rem;
  color: #070439;
}

.header {
  margin: 50px 10px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.header img {
  width: 300px;
  margin-bottom: 20px;
}
.header h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.header p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.header .email {
  display: grid;
  height: 60px;
  border-radius: 5px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.header .email button {
  background-color: #3065f8;
  color: white;
  border: none;
}

.stay {
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.stay .container {
  margin: 20px;
  display: grid;
  justify-content: center;
}
.stay .container .stayImage {
  width: 300px;
  margin-bottom: 20px;
}
.stay .container .stay-text h2 {
  margin-bottom: 20px;
}
.stay .container .stay-text p {
  margin-bottom: 10px;
}
.stay .container .stay-text a {
  color: #3c9f8f;
  margin-bottom: 20px;
}
.stay .card {
  width: 80%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  margin: 0 auto;
  padding: 10px;
}
.stay .card .quotes {
  width: 20px;
}
.stay .card .card-avatar-info {
  display: flex;
  flex-direction: row;
}
.stay .card img {
  width: 30px;
}

.footer {
  margin: 20px 0;
  background-color: #585989;
  color: white;
}
.footer .container {
  margin: 30px;
  padding: 30px;
}
.footer .container h2 {
  font-size: 2rem;
  margin: 20px 0;
}
.footer .container p {
  font-size: 1.2rem;
}
.footer .container .email {
  display: grid;
  height: 60px;
  border-radius: 5px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}
.footer .container .email button {
  background-color: #3065f8;
  color: white;
  border: none;
}
